{% extends 'base.html' %}
{% block title %}Qaamuus - Qaamuus Af‑Soomaali{% endblock %}
{% block content %}
    <div class="app-container">
        <header class="header">
            <div class="logo">Q</div>
            <div>
                <h1 class="title">Qaamuus</h1>
                <p class="subtitle">Qaamuus Af‑Soomaali oo dhammaystiran</p>
            </div>
        </header>
        {% include 'partials/dictionary_search.html' %}
    </div>
    {% include 'partials/entry_modal.html' %}
{% endblock %}
